@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative&family=Libre+Baskerville:ital@1&family=Open+Sans&family=Playfair+Display:ital,wght@1,900&display=swap');

header {
    background-color: #1f7a8c;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    background-color: #1f7a8c;
    color: #E1E5F2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 35px;
}

nav a:hover {
    background-color: #769aa181;
    color: white;
}

.home-title {
    font-family: 'Playfair Display', 'Libre Baskerville', 'Antic Slab', 'serif';
    font-size: 2em;
    color: black;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

body {
    font-family: 'Cinzel Decorative', 'Antic Slab',  'serif';
    font-size: 22px;
    background-color: #E1E5F2;
    margin: 0;
    padding: 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#content { /* This is a div id tag */
    max-width: 1600px ; /*Sets the maximum width of the div id to 1600px */
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #BFDBF7;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.msg {
    background-color: #BFDBF7;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    font-family: 'Libre Baskerville', 'Antic Slab', 'serif';
    color: black;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #BFDBF7;
}

.book, .join {
    background-color: #E1E5F2;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #d1d7ec;
    color: black;
}

footer {
    background-color: #022B3A;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p { 
    font-size: 1.2em;
}