@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cinzel+Decorative&family=Libre+Baskerville:ital@1&family=Open+Sans&family=Playfair+Display:ital,wght@1,900&display=swap');

header {
    background-color: #1f7a8c;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    background-color: #1f7a8c;
    color: #E1E5F2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 35px;
}

nav a:hover {
    background-color: #769aa181;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* margin-top: -100px; This is not needed */
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    /* margin-top: 100px; This is not needed */
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #E1E5F2;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* .card-img .mountains {
    border: 10px solid #BFDBF7;
    width: 100%;
} */

.home-title {
    font-family: 'Playfair Display', 'Libre Baskerville', 'Antic Slab', 'serif';
    font-size: 2em;
    color: black;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

body {
    font-family: 'Cinzel Decorative', 'Antic Slab',  'serif';
    font-size: 22px;
    background-color: #E1E5F2;
    margin: 0;
    padding: 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#content { /* This is a div id tag */
    max-width: 1600px ; /*Sets the maximum width of the div id to 1600px */
    margin: 0 auto;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.msg h2 {
    font-family: 'Libre Baskerville', 'Antic Slab', 'serif';
    color: black;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    width: 100%;
    border: 10px solid #1f7a8c;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    background-color: #BFDBF7;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    border: 10px solid #1f7a8c;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #BFDBF7;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.book, .join {
    background-color: #9fbfce;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #d1d7ec;
    color: black;
}

footer {
    background-color: #022B3A;
    color: white;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p { 
    font-size: 1.2em;
}

/* {
  border: 2px solid blue;
}

/* River css section */

#river-content { /* This is a div id tag */
    max-width: 1600px ; /*Sets the maximum width of the div id to 1600px */
    margin: 0 auto;
}

.river-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
}

.salmon-card, .desolation-card, .grandcanyon-card {
    margin: 20px 0;
}

.river-img {
    width: 40%;
    border: 7px solid #1f7a8c;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    float: left;
    /* border: 2px solid blueviolet */
}

.river-name, .river-description {
    grid-column: 2/4;
    /* border: 2px solid red; */
}

.river-name {
    text-align: center;
}

.river-description {
    font-size: larger;
    font-family: 'Antic Slab', 'serif';
}

#salmon-background, #grandcanyon-background {
    background-color: #BFDBF7;
    border: 1px solid #9fbfce;
}

#desolation-background {
    background-color: #6abecf;
}

.river-img:hover {
    transform: scale(1.3);
}

.solmon-card {
    grid-row: 1/2;
}

.desolation-card {
    grid-row: 2/3;
}

.grandcanyon-card {
    grid-row: 3/4;
}









/*  Media section */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}